@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", Outfit, sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1)	// circle
  --Persian-blue: hsla(241, 72%, 46%, 0)	// circle ;
}

.container {
  display: block;
}
.container .result {
  background: linear-gradient(to bottom, #7857ff 0%, 30%, #2e2be9 100%);
  padding: 20px;
  text-align: center;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Pale-blue);
}
.container .result h1 {
  font-size: 1.1em;
  color: var(--Light-lavender);
  font-weight: 500;
  margin-bottom: 20px;
}
.container .result .score {
  padding: 30px;
  margin: 20px;
  background: linear-gradient(to bottom, #4e21ca 0%, rgba(36, 33, 202, 0) 100%);
  border-radius: 50%;
  width: 6em;
  color: var(--Light-lavender);
}
.container .result .score .big {
  font-size: 3em;
  font-weight: 700;
  color: var(--White);
}
.container .result span {
  color: var(--Light-lavender);
  margin: 15px;
}
.container .summary {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.container .summary h2 {
  margin: 10px;
  font-size: 1.2em;
}
.container .summary ul {
  margin-bottom: 15px;
  list-style: none;
  width: 100%;
}
.container .summary ul li {
  padding: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 2em;
}
.container .summary ul li span {
  display: flex;
}
.container .summary ul li span svg {
  margin-right: 5px;
}
.container .summary ul li:nth-child(1) {
  background-color: rgba(255, 87, 87, 0.08);
}
.container .summary ul li:nth-child(1) span:first-child {
  color: #ff5757;
}
.container .summary ul li:nth-child(2) {
  background-color: rgba(255, 176, 31, 0.08);
}
.container .summary ul li:nth-child(2) span:first-child {
  color: #ffb01f;
}
.container .summary ul li:nth-child(3) {
  background-color: rgba(0, 189, 145, 0.08);
}
.container .summary ul li:nth-child(3) span:first-child {
  color: #00bd91;
}
.container .summary ul li:nth-child(4) {
  background-color: rgba(17, 37, 212, 0.08);
}
.container .summary ul li:nth-child(4) span:first-child {
  color: #1125d4;
}
.container .summary button {
  padding: 15px;
  border-radius: 50px;
  background-color: var(--Dark-gray-blue);
  color: white;
  font-size: 1.3em;
  width: 80vw;
  margin: auto;
}
.container .summary button:hover {
  background: linear-gradient(to bottom, #7857ff 0%, 30%, #2e2be9 100%);
  cursor: pointer;
}

.attribution {
  position: fixed;
  width: 100%;
  top: 98%;
  margin: auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

@media (min-width: 720px) {
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .container {
    display: flex;
    border-radius: 30px;
    box-shadow: 5px 1px 50px rgba(0, 0, 0, 0.1);
  }
  main .container .result {
    width: 17em;
    height: 25em;
    border-radius: 30px;
  }
  main .container .summary {
    width: 17em;
    height: 25em;
  }
  main .container .summary ul li {
    height: auto;
  }
  main .container .summary button {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
